.password-overlay {
  position: absolute;
  z-index: 99999;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password-overlay h2 {
  margin-top: 0;
}

.password-overlay label {
  display: block;
  margin-bottom: 10px;
}

.password-overlay input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #8e2ad6;
  height: 20px;
  width: 200px;
}

.password-overlay-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.password-overlay button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #8e2ad6;
  color: #fff;
}

.password-overlay button:hover {
  background-color: #0062cc;
}
